body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
}

.card {
  background: #1e293b;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}